<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Games List</title>
</head>
<body>
  <h1><%= game.title %></h1>
  <h2>Reviews</h2>
  <ul>
    <% if (game.reviews.length > 0) { %>
      <% game.reviews.forEach(review => { %>
        <li>
          <p>Rating: <%= review.rating %> stars</p>
          <p>Content: <%= review.content %></p>
          <% if (review.userName) { %>
            <p>By: <%= review.userName %></p>
          <% } %>
        </li>
      <% }) %>
    <% } else { %>
      <p>No reviews yet.</p>
    <% } %>
  </ul>
  </body>
</html>
