<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games List</title>
</head>
<body>
    <h1>Games List</h1>
    <ul>
        <% games.forEach(game=> { %>
            <li>
                <h2>
                    <%= game.name %>
                </h2>
                <p>ID: <%= game.id %>
                </p>
                <p>Genres:
                    <% game.genres.forEach(genre=> { %>
                        <span>
                            <%= genre.name %>
                        </span>
                        <% }) %>
                </p>
                <p>Release Date: <%= game.release_dates.length ? game.release_dates[0].human : 'N/A' %>
                </p>
            </li>
            <% }) %>
    </ul>
</body>
</html>