<%- include('../partials/header') %>

<body>
    <h1>Game List </h1>
    <div class="Game-container">
      
      <% Gamesdata.forEach(game => { %>
      <div class="game-info">
        <p><%= game.title %></p>
        <img src="<%= game.thumbnail %>"> 
      </div>
      <% }); %>
    </div>
  </body>
<%- include('../partials/footer') %>