
<body>
  <form action="/users/<%= user._id %>?_method=PUT" method="POST">
    userName:
    <input type="text" name="userName" id="userName" /><br>
    Email:
    <input type="text" name="email" id="email" />
    <button type="submit">edit</button>
  </form>
</body>
