<%- include('./partials/header') %>

<h2>Gamer-Wish</h2>
we will display thoose in the /games
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Thumbnail</th>
      <th>Description</th>
      <th>Platform</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
